@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row" style="margin: 40px 10px 20px 10px;">Connection ID: @Model.signalrConnectionId</div>
<hr>
<div class="row" style="margin: 40px 10px 20px 10px;">

    <div style="margin: 10px">
        <form method="post">
            <select name="nameOfGroup" required>
                <option value="GroupOne">GroupOne</option>
                <option value="GroupTwo">GroupTwo</option>
                <option value="GroupThree">GroupThree</option>
            </select>
            <input type="submit" value="Join Group" asp-page-handler="JoinGroup" class="btn btn-primary" />
            <input type="submit" value="Exit Group" asp-page-handler="ExitGroup" class="btn btn-primary" />
        </form>
    </div>

    @*<div style="margin: 10px">
            <form method="post">
                <input type="text" class="col-sm-5" name="Message" value="" autocomplete="off" />
                <input type="submit" value="Create Group" asp-page-handler="CreateGroup" class="btn btn-primary" />
            </form>
        </div>*@

    <div style="margin: 10px">
        <form method="post">
            <input type="submit" value="New Connection" asp-page-handler="NewConnection" class="btn btn-primary" />
        </form>
    </div>


</div>

<br>

<div class="row">
    <div class="col">
        <div style="margin: 40px 10px 20px 10px;">

            <form method="post">
                <div class="row" style="margin:10px;">
                    <label for="Sender" class="col-sm-2">From:</label>
                    <input type="text" class="col-sm-5 form-control" name="Sender" value="Whale" autocomplete="off" />
                </div>
                <div class="row" style="margin:10px;">
                    <label for="Receiver" class="col-sm-2">To:</label>
                    <input type="text" class="col-sm-5 form-control" name="ReceiverId" value="" autocomplete="off" />
                </div>
                <div class="row" style="margin:10px;">
                    <label for="Message" class="col-sm-2">Message:</label>
                    <input type="text" class="col-sm-5 form-control" name="Message" value="" autocomplete="off" />
                </div>
                <br>
                <div class="row col-sm-3" style="margin:10px;">
                    <input type="submit" value="Submit" asp-page-handler="Message" class="btn btn-primary" />
                </div>
            </form>

            <hr>

            <ul id="messagesList">
                @foreach (var message in @Model.messagesList)
                {
                    <li>@message</li>
                }
            </ul>

        </div>
    </div>
    <div class="col">
        <div style="margin: 40px 10px 20px 10px;">

            <form method="post">
                <div class="row" style="margin:10px;">
                    <label for="GroupName" class="col-sm-2">Group:</label>
                    <input type="text" class="col-sm-5 form-control" name="GroupName" value="" autocomplete="off" />
                </div>
                <div class="row" style="margin:10px;">
                    <label for="GroupMessage" class="col-sm-2">Message:</label>
                    <input type="text" class="col-sm-5 form-control" name="GroupMessage" value="" autocomplete="off" />
                </div>
                <br>
                <br>
                <br>
                <div class="row col-sm-3" style="margin:10px;">
                    <input type="submit" value="Submit" asp-page-handler="GroupMessage" class="btn btn-primary" />
                </div>
            </form>

            <hr>

            <ul id="messagesList">
                @foreach (var message in @Model.groupMessagesList)
                {
                    <li>@message</li>
                }
            </ul>

        </div>
    </div>

</div>

@*@page
    @model IndexModel
    @using Microsoft.AspNetCore.Mvc.RazorPages
    @{
        ViewData["Title"] = "Home page";
    }

    @functions {
        public class IndexModel : PageModel
        {
            public string Message { get; private set; } = "In page model: ";

            public void OnGet()
            {
                Message += $" Server seconds  { DateTime.Now.Second.ToString() }";
            }
        }
    }

    <h2>In page sample</h2>
    <p>
        @Model.Message
    </p>*@
